{% extends "baseA.html" %}
{% load static %}
{% comment %} Title {% endcomment %}
{% block title %} Manage Employees {% endblock title %}
{% comment %} Css Files {% endcomment %}
{% block stylesheet %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheet %}



{% comment %} Content {% endcomment %}
{% block content %}
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
</table>
{% endblock content %}




{% comment %} Script {% endcomment %}
{% block javascript %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock javascript %}