{% extends "baseA.html" %}
{% load static %}
{% comment %} Title {% endcomment %}
{% block title %} Manage Employees {% endblock title %}
{% comment %} Css Files {% endcomment %}

{% block stylesheet %}

<link href="{% static 'vendor/dataTable/datatables.min.css' %}" rel="stylesheet" type="text/css" />



{% endblock stylesheet %}


{% comment %} Content {% endcomment %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% comment %} <div class="col-md-4 "> {% endcomment %}
            {% comment %} <h3>ADD USER</h3>
            <form id="addUser" action="">
                <div class="form-group">
                    <input class="form-control" type="text" name="firstname" placeholder="firstname" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="lastname" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="age" placeholder="age" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="mobile" placeholder="mobile" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="jobtitle" placeholder="jobtitle" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="email" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="address" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="city" placeholder="city" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="state" placeholder="state" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="zip" placeholder="zip" required>
                </div>

                <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
            </form> {% endcomment %}
            {% comment %}
        </div> {% endcomment %}
        <div class="col-md-12">
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h3>Manage Members</h3>
                </div>
                <div class="col-md-4 offset-md-4">
                    <button type=" button" class="btn btn-outline-secondary"><i class="fas fa-user-edit"></i> Add
                        Members</button>
                </div>
            </div>
            <br>

            <table id="table_id" class="display" style="width:100%">

                <thead>

                    <tr>
                        <th>Select</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Age</th>
                        <th>Mobile</th>
                        <th>Job Title</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>

                    {% if users %}
                    {% for user in users %}
                    <tr id="user-{{user.emp_id}}">
                        <td class="userBox userData"></td>
                        <td class="userfirstname userData" name="firstname">{{user.first_name}}</td>
                        <td class="userlastname userData" name="lastname">{{user.last_name}}</td>
                        <td class="userage userData" name="age">{{user.age}}</td>
                        <td class="usermobile userData" name="mobile">{{user.mobile}}</td>
                        <td class="userjobtitle userData" name="jobtitle">{{user.job_title}}</td>
                        <td class="useremail userData" name="email">{{user.email}}</td>
                        <td class="useraddress userData" name="address">{{user.address}}</td>
                        <td class="usercity userData" name="city">{{user.city}}</td>
                        <td class="userstate userData" name="state">{{user.state}}</td>
                        <td class="userzip userData" name="zip">{{user.zip}}</td>
                        <td align="center">

                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">

                                    <button type="button" class="btn btn-warning mr-1"
                                        onClick="editUser({{user.emp_id}})" data-toggle="modal" data-target="#myModal"
                                        )"><i class="fas fa-user-edit"></i></button>
                                    <button type="button" class="btn btn-danger" onClick="deleteUser({{user.emp_id}})">
                                        <i class="far fa-trash-alt"></i>
                                        </i> </button>

                                </div>

                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    No Users
                    {% endif %}
                </tbody>

            </table>
        </div>
    </div>
</div>
<!-- Modal -->

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="color:#f0ad4e;">
                <h4 class="modal-title">Update Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="updateUser" action="">
                    <input class="form-control" id="empid" type="hidden" name="empid" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="forfirstname">First-Name</label>
                            <input type="text" class="form-control" name="firstname" placeholder="Roochin">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="forlastname">Last-Name</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Dwivedi">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"">
                        <label for=" forage">Age</label>
                            <input type="number" class="form-control" name="age" placeholder="21">
                        </div>
                        <div class="form-group col-md-6"">
                        <label for=" formobile">Mobile</label>
                            <input type="number" class="form-control" name="mobile" placeholder="7415140895">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="forjobtitle">Job Title</label>
                            <select name="jobtitle" class="form-control">
                                <option value="Project Manager">Project Manager</option>
                                <option value="Software Developer-I">Software Developer-I</option>
                                <option value="Software Developer-II">Software Developer-II</option>
                                <option value="Software Developer-III">Software Developer-III</option>
                                <option value="Software Developer-IV">Software Developer-IV</option>
                                <option value="CTO">CTO</option>
                                <option value="Quality Assurance">Quality Assurance</option>
                                <option value="Senior Human Resource">Senior Human Resource</option>
                                <option value="Human Resource">Human Resource</option>

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="foremail">Email</label>
                            <input type="email" class="form-control" name="email"
                                placeholder="dwivediroochin@gmail.com">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col-4">
                            <label for="forcity">City</label>
                            <input type="text" class="form-control" name="city" ,placeholder="Indore">
                        </div>
                        <div class="col-4">
                            <label for="forState">State</label>
                            <select name="state" class="form-control">
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="forzip">Zip</label>
                            <input type="number" class="form-control" name="zip" placeholder="452005">
                        </div>
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning">Save changes</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
{% comment %} Script {% endcomment %}
{% block javascript %}

<script>
    // Create Django Ajax Call
    //     $("form#addUser").submit(function () {
    //         var nameInput = $('input[name="name"]').val().trim();
    //         var addressInput = $('input[name="address"]').val().trim();
    //         var ageInput = $('input[name="age"]').val().trim();
    //         if (nameInput && addressInput && ageInput) {
    //             // Create Ajax Call

    //             $.ajax({
    //                 url: '{% url "createEmployee" %}',
    //                 data: {
    //                     'name': nameInput,
    //                     'address': addressInput,
    //                     'age': ageInput
    //                 },
    //                 dataType: 'json',
    //                 success: function (data) {
    //                     if (data.user) {
    //                         appendToUsrTable(data.user);
    //                     }
    //                 }
    //             });
    //         } else {
    //             alert("All fields must have a valid value.");
    //         }
    //         $('form#addUser').trigger("reset");
    //         return false;
    //     });
    //     function appendToUsrTable(user) {
    //         $("#userTable > tbody:last-child").append(`
    // <tr id="user-${user.id}">
    //     <td class="userName" name="name">${user.name}</td>
    //     '<td class="userAddress" name="address">${user.address}</td>
    //     '<td class="userAge" name="age">${user.age}</td>
    //     '<td align="center">
    //         <button class="btn btn-success form-control" onClick="editUser(${user.id})" data-toggle="modal"
    //             data-target="#myModal" )">EDIT</button>
    //     </td>
    //     <td align="center">
    //         <button class="btn btn-danger form-control" onClick="deleteUser(${user.id})">DELETE</button>
    //     </td>
    // </tr>
    // `);
    //     }


    $("form#updateUser").submit(function () {
        var idInput = $('input[name="empid"]').val().trim();
        var firstnameInput = $('input[name="firstname"]').val().trim();
        var lastnameInput = $('input[name="lastname"]').val().trim();
        var ageInput = $('input[name="age"]').val().trim();
        var mobileInput = $('input[name="mobile"]').val().trim();
        var jobtitleInput = $('input[name="jobtitle"]').val().trim();
        var emailInput = $('input[name="email"]').val().trim();
        var addressInput = $('input[name="address"]').val().trim();
        var cityInput = $('input[name="city"]').val().trim();
        var stateInput = $('input[name="state"]').val().trim();
        var zipInput = $('input[name="zip"]').val().trim();
        console.log("HJSH")
        if (firstnameInput && lastnameInput && ageInput && mobileInput && jobtitleInput && emailInput && addressInput && cityInput && stateInput && zipInput) {
            // Create Ajax Call
            console.log("YES")
            $.ajax({
                url: '{% url "updateEmployee" %}',
                data: {
                    'id': idInput,
                    'firstname': firstnameInput,
                    'lastname': lastnameInput,
                    'age': ageInput,
                    'mobile': mobileInput,
                    'jobtitle': jobtitleInput,
                    'email': emailInput,
                    'address': addressInput,
                    'city': cityInput,
                    'state': stateInput,
                    'zip': zipInput,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.user) {
                        updateToUserTabel(data.user);
                    }
                }
            });
        } else {
            alert("All fields must have a valid value.");
        }
        $('form#updateUser').trigger("reset");
        $('#myModal').modal('hide');
        return false;
    });

    // Update Django Ajax Call
    function editUser(id) {
        if (id) {
            tr_id = "#user-" + id;
            name = $(tr_id).find(".userName").text();
            address = $(tr_id).find(".userAddress").text();
            age = $(tr_id).find(".userAge").text();
            $('#form-id').val(id);
            $('#form-name').val(name);
            $('#form-address').val(address);
            $('#form-age').val(age);
        }
    }
    function updateToUserTabel(user) {
        $("#userTable #user-" + user.id).children(".userData").each(function () {
            var attr = $(this).attr("name");
            if (attr == "name") {
                $(this).text(user.name);
            } else if (attr == "address") {
                $(this).text(user.address);
            } else {
                $(this).text(user.age);
            }
        });
    }
    // function deleteUser(id) {
    //     var action = confirm("Are you sure you want to delete this user?");
    //     if (action != false) {
    //         $.ajax({
    //             url: '{% url "deleteEmployee" %}',
    //             data: {
    //                 'id': id,
    //             },
    //             dataType: 'json',
    //             success: function (data) {
    //                 if (data.deleted) {
    //                     $("#userTable #user-" + id).remove();
    //                 }
    //             }
    //         });
    //     }
    // }
</script>
<!-- <script type="text/javascript" src="{% static 'vendor/datatable/datatables.js' %}"></script> -->

<script type="text/javascript" src="{% static 'vendor/dataTable/datatables.min.js' %}"></script>


<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<script>
    $('#table_id').DataTable({
        // select: 'single',
        // responsive: true,
        // keys: true,

        fixedHeader: true,
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']],

    });
</script>


{% endblock javascript %}